<!DOCTYPE html>

<html>
 <%- include('./partials/header') %> 
  <body id="indexInfo">
    <h1 id="h1-display" class="display-3"><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="airpod">
      <img src="https://i.pinimg.com/originals/85/45/73/854573972ab993d037e5bd858ee6cc36.gif" class="img-fluid" alt="Responsive image">
    </div><br>
    <div>
      <a type="button" class="btn btn-outline-info" href="./flights">Click Here</a>
    </div>
  </body>
</html><br>

<%- include('./partials/footer') %> 